#passColorBar {
  transition: ease background 0.5s;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 700;
}
#passColorBar.weak {
  background-color: #df6661;
}
#passColorBar.average {
  background-color: #efc20f;
}
#passColorBar.strong {
  background-color: #006b4d;
}
