@import url(./modules/slider.css);
@import url(./modules/checkbox.css);
@import url(./modules/rotateBtn.css);
@import url(./modules/passBanner.css);
@import url(./modules/passColorBar.css);
@import url(./global/global.css);
@import url(./global/reset.css);

header {
  background-color: var(--cor-p1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  color: #ffffff;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
main {
  display: flex;
  flex-direction: column;
}
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
}
.main-header p {
  font-size: 1.2rem;
}
.container-senha {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 20px 20px;
}
.container-senha input {
  height: 60px;
  width: 100%;
  font-size: 1.8rem;
  border: none;
}
.container-senha input:focus {
  outline: none;
}
.area-senha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.icons {
  font-size: 2rem;
  display: flex;
  gap: 20px;
  align-items: center;
}

#copyPass {
  padding: 10px 20px;
  background-color: var(--cor-p1);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.pass-settings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 20px 20px;
}
.settings-header {
  border-bottom: 2px solid #e8e8e8;
  padding: 10px 0px;
}
.pass-settings h2 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 900;
}
.pass-setting-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.caracteresPass {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.control-checkbox {
  margin-top: 10px;
}

footer {
  margin-top: 40px;
  background-color: #e6e6e6;
  margin: 0px;
  display: flex;
  padding: 6px;
  justify-content: center;
}

.footer-text a {
  color: var(--cor-p1);
  font-weight: bold;
}
footer ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-git {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .container-senha input {
    height: 50px;
    font-size: 1.5rem;
  }
  .icons {
    font-size: 1.5rem;
    gap: 20px;
  }
  #copyPass {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  h1 {
    font-size: 2rem;
  }
  .pass-setting-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  #passColorBar {
    font-size: 0.8rem;
  }

  footer {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  footer {
    font-size: 0.7rem;
  }
}
